In [2]:
from selenium import webdriver

In [3]:
import pandas as pd
import numpy as np
import os

In [84]:
browser = webdriver.Chrome('chromedriver.exe')

In [5]:
url = 'https://www.naukri.com/data-science-jobs'
browser.get(url)

In [7]:
parents = browser.find_elements_by_css_selector('div.row[type="tuple"]')
len(parents)

50

In [28]:
df=pd.DataFrame()
for job in parents:
    job_id = job.get_attribute('id')
    job_url = job.get_attribute('data-url')
    job_title = job.find_element_by_css_selector('li.desig').get_attribute('title')
    company = job.find_element_by_css_selector('span.org').text
    experience = job.find_element_by_css_selector('span.exp').text
    location = job.find_element_by_css_selector('span.loc').text
    key_skill = job.find_element_by_css_selector('span.skill').text
    salary = job.find_element_by_css_selector('span.salary').text
    date = job.find_element_by_css_selector('span.date').text
    curr_row = {'Job_url':job_url, 'Job_id':job_id, 'Job_title':job_title,'Company':company,'Experience':experience,'Location':location,'Key_skill':key_skill, 'Salary':salary, 'Date':date}
    
    
    df=df.append(curr_row, ignore_index=True)

In [29]:
df

,Company,Date,Experience,Job_id,Job_title,Job_url,Key_skill,Location,Salary
0,Keyassignments IT Solutions Pvt Ltd,1 day ago,4-7 yrs,070518004367,"Data Science @sapient(perm) ,",https://www.naukri.com/job-listings-Data-Scien...,"Python, R, Unix, Linux, SQL",Bengaluru,Not disclosed
1,"Optum, a UnitedHealth Group Company",1 day ago,8-13 yrs,050319900979,"Senior Manager - Data Science - Gurgaon, HR",https://www.naukri.com/job-listings-Senior-Man...,"Senior Manager - Data Science - Gurgaon, HR",Gurgaon,Not disclosed
2,vConstruct Private Limited,1 day ago,8-13 yrs,050319008025,Data Science Business Manager,https://www.naukri.com/job-listings-Data-Scien...,"Data Mining, Data Analysis, Data Science, Pric...",Pune(Hadapsar),Not disclosed
3,Accenture,1 day ago,1-5 yrs,010319901757,Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...,"Python, Data modeling, MATLAB, SPSS, Computer ...",Bengaluru,Not disclosed
4,Shell India Markets Private Limited,2 days ago,2-3 yrs,040319900570,Team Lead - Data Science,https://www.naukri.com/job-listings-Team-Lead-...,"Factor Analysis, Deep Learning, Neural Network...",Chennai,Not disclosed
5,Cognizant Technology Solutions India Ltd,15 days ago,3-6 yrs,190219004818,Data Science/spark Professional,https://www.naukri.com/job-listings-Data-Scien...,"Data Science / Spark, Azure ML, R, Python, Mac...","Chennai, Hyderabad",Not disclosed
6,WebTek Labs Pvt. Ltd.,1 day ago,2-5 yrs,050319005958,Data Science Trainer,https://www.naukri.com/job-listings-Data-Scien...,"presentable, data science, communication skill...",Delhi NCR(Rajouri garden),"2,00,000 - 3,50,000 P.A."
7,Accenture,12 days ago,1-4 yrs,220219901505,Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Analytical, Python, Data mining, Analy...",Bengaluru,Not disclosed
8,Avyayh,2 days ago,6-11 yrs,120219009028,Opening for Data Science With the Leadng Produ...,https://www.naukri.com/job-listings-Opening-fo...,"data science, spark, python, postgresql",Chennai,"10,00,000 - 18,00,000 P.A."
9,Accenture,12 days ago,1-4 yrs,220219901499,Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed
10,HuQuo Consulting Pvt. Ltd.,1 day ago,2-5 yrs,050319005681,Senior Analyst - Data Science - Iit/nit/iim/xl...,https://www.naukri.com/job-listings-Senior-Ana...,"Analyst - Data Science, Python, SQL, R, machin...",Gurgaon,Not disclosed
11,Value C Consulting Services Private Limited,3 days ago,10-20 yrs,030319000605,Vice President- Data Science,https://www.naukri.com/job-listings-Vice-Presi...,Data Scientist,"Singapore, United Kingdom (U.K)","50,00,000 - 1 Cr & above P.A."
12,Impendi Analytics,1 day ago,1-3 yrs,010319902764,Business Analyst - Data Science - Iit/bits/nsit,https://www.naukri.com/job-listings-Business-A...,"statistical modeling, predictive modeling, r, ...",Delhi,Not disclosed
13,Crescendo Global Services,1 day ago,6-10 yrs,020319002201,Manager- Data Science Machine Learning Enginee...,https://www.naukri.com/job-listings-Manager-Da...,"Natural Language Processing, Data Science, Mac...",Delhi NCR,"18,00,000 - 25,00,000 P.A."
14,Allstate Solutions Private Limited,6 days ago,2-4 yrs,270219904507,Consultant - Data Science,https://www.naukri.com/job-listings-Consultant...,"hadoop, hive, deep learning, r, text mining, m...",Bengaluru,Not disclosed
15,Amazon Development Centre (India) Pvt. Ltd.,5 days ago,3-8 yrs,260219009302,Product Analyst (data Science),https://www.naukri.com/job-listings-Product-An...,"data science, business analysis, sql, Analytic...",Chennai,"12,00,000 - 22,00,000 P.A."
16,Accenture,12 days ago,1-4 yrs,220219901498,Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed
17,Tiger Analytics,6 days ago,2-6 yrs,280219901770,Senior Analyst - Data Science,https://www.naukri.com/job-listings-Senior-Ana...,"C, Data Science, Machine Learning, R, Python, ...",Chennai,Not disclosed
18,QuickXpert Infotech,4 days ago,3-8 yrs,250219001537,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
19,Accenture,13 days ago,2-5 yrs,200219900928,Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...,"Python, MATLAB, Data mining, Machine learning,...",Bengaluru,Not disclosed
20,Emerging India,12 days ago,3-8 yrs,220219005029,Data Scientist/data Science Trainer,https://www.naukri.com/job-listings-Data-Scien...,"deep learning, r, nosql, data science, nlp, sq...","Delhi NCR, Noida","6,00,000 - 10,00,000 P.A."
21,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904505,Lead Consultant - Data Science,https://www.naukri.com/job-listings-Lead-Consu...,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed
22,Fidel Softech Pvt. Ltd,5 days ago,3-7 yrs,010319003738,Data Science Engineer,https://www.naukri.com/job-listings-Data-Scien...,"data science, elixir, python, scala, Data Visu...",Japan,Not disclosed
23,Search Folks,5 days ago,5-10 yrs,270219904274,Data Science Engineer - AWS Certified,https://www.naukri.com/job-listings-Data-Scien...,"Spark, Hive, Oozie, Sqoop, SCALA, Big Data, El...",Bengaluru,Not disclosed
24,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904504,Lead Consultant - Data Science,https://www.naukri.com/job-listings-Lead-Consu...,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed
25,Dataone,13 days ago,4-7 yrs,210219006647,Senior Data Science Engineer,https://www.naukri.com/job-listings-Senior-Dat...,"Data Science, Machine Learning, Open Source",Ahmedabad,Not disclosed
26,Cognizant,5 days ago,3-6 yrs,260219006665,Data Science/spark Developer - Machine Learnin...,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Python, R, Spa...","Hyderabad, Chennai",Not disclosed
27,rp consultant,7 days ago,5-10 yrs,270219000191,"Asic/soc Verification Experts in Ie&s,.net/ang...",https://www.naukri.com/job-listings-Asic-soc-V...,".net, java, cloud, devops, hadoop, asic / soc ...","Bengaluru, Chennai, Hyderabad","12,00,000 - 22,00,000 P.A."
28,TalPro,7 days ago,8-12 yrs,270219002811,Chief Intelligence Officer - Data Science & An...,https://www.naukri.com/job-listings-Chief-Inte...,"Machine Learning, Web Technologies, Chief Inte...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed
29,Blue Jay Finlease Limited,5 days ago,8-12 yrs,270219004361,Data Science Manager || Ziploan,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Python, R, SQL...",Delhi NCR,"20,00,000 - 35,00,000 P.A."
30,AXA Business Services Pvt Ltd,9 days ago,3-5 yrs,250219002649,Associate Data Science Consultant,https://www.naukri.com/job-listings-Associate-...,"Text Mining, Data Science, Java, Machine Learn...",Bengaluru,Not disclosed
31,Crosstab IT Consulting,1 day ago,14-18 yrs,010319903158,Sr. Manager Data Science,https://www.naukri.com/job-listings-Sr-Manager...,"ML, AI, Python, R, Data Science, AI / ML Resea...",Bengaluru,Not disclosed
32,TalentStack/ The Hiring Story,1 day ago,3-7 yrs,020319001085,Data Science Developer - Analytics/alteryx,https://www.naukri.com/job-listings-Data-Scien...,"sql database, r, analytics, macros, time serie...",Mumbai,Not disclosed
33,American Express Company,2 days ago,0-3 yrs,040319500081,Business Analyst/ Asst. Manager - Global Comme...,https://www.naukri.com/job-listings-Business-A...,"Unix, Monitoring, Python, Analytics, Machine l...",Gurgaon,Not disclosed
34,Asterion Consulting Pvt. Ltd,1 day ago,4-8 yrs,210219007404,Lead - Data Science,https://www.naukri.com/job-listings-Lead-Data-...,"deep learning, text mining, data science, hive...",Bengaluru,Not disclosed
35,TalPro,7 days ago,8-12 yrs,270219001836,Chief Intelligence Officer - Data Science & An...,https://www.naukri.com/job-listings-Chief-Inte...,"Machine Learning, Chief Intelligence Officer, ...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed
36,Atria Biosciences,5 days ago,0-2 yrs,010319003178,Immediately Need Data Science Instructor,https://www.naukri.com/job-listings-Immediatel...,"Data Science, Big Data, big analysis, R Progra...","Mumbai, Bengaluru, Chennai, Hyderabad, Pune, K...","3,00,000 - 4,75,000 P.A."
37,Jardine Lloyd Thompson India Pvt Ltd.,2 days ago,5-7 yrs,040319501012,Senior Specialist Data Science,https://www.naukri.com/job-listings-Senior-Spe...,"Sql, Macros, Analytical, Automation, Open Sour...",Mumbai,Not disclosed
38,Huquo Consulting Pvt. Ltd,6 days ago,2-5 yrs,280219901594,Analyst - Data Science - Consulting Firm,https://www.naukri.com/job-listings-Analyst-Da...,"Machine Learning, Neural Networks, Data Scienc...",Gurgaon,Not disclosed
39,DIGIFOCAL IT SOLUTIONS PRIVATE LIMITED,5 days ago,2-5 yrs,280119001294,Job Opening for Data Science,https://www.naukri.com/job-listings-Opening-fo...,"sas, r, python, analytics, machine learning, p...",Mumbai,"5,00,000 - 10,00,000 P.A."
40,American Express Services India Pvt. Ltd.,2 days ago,0-3 yrs,040319500094,Business Analyst/ Asst. Manager - Global Comme...,https://www.naukri.com/job-listings-Business-A...,"Unix, Monitoring, Python, Analytics, Machine l...",Gurgaon,Not disclosed
41,Asterion Consulting Pvt. Ltd,1 day ago,10-20 yrs,250219002257,Senior Consultant (machine Learning & Data Sci...,https://www.naukri.com/job-listings-Senior-Con...,"Data Science, Machine Learning, Project Planni...",Bengaluru,Not disclosed
42,CareerNet,13 days ago,6-9 yrs,210219900633,Senior Customer Success Specialist - Data Scie...,https://www.naukri.com/job-listings-Senior-Cus...,"Data Science, Selenium Webdriver, Machine Lear...",Bengaluru,Not disclosed
43,Naresh I Technologies,4 days ago,4-9 yrs,280119006091,Data Science Trainer,https://www.naukri.com/job-listings-Data-Scien...,"Data Science, Machine Learning, Big Data, R pr...",Hyderabad,Not disclosed
44,Sabre Travel Technologies Pvt. Ltd,5 days ago,5-8 yrs,270219005491,Senior Operations Research / Data Science,https://www.naukri.com/job-listings-Senior-Ope...,"c, c++, java, python, data science, microservi...",Bengaluru,"17,00,000 - 25,00,000 P.A."
45,Asterion Consulting Pvt. Ltd,1 day ago,8-13 yrs,220219008815,AVP - Data Science,https://www.naukri.com/job-listings-AVP-Data-S...,"data science, Machine learning, python, Deep L...",Bengaluru,Not disclosed
46,Crescendo Global Services,1 day ago,2-5 yrs,020319002371,Deputy Manager- (2-4 yrs )- Python/data Science,https://www.naukri.com/job-listings-Deputy-Man...,Python,Gurgaon,"9,00,000 - 12,00,000 P.A."
47,Karvy Insights Limited,6 days ago,3-5 yrs,280219006986,Senior Executive Data Science,https://www.naukri.com/job-listings-Senior-Exe...,"Data Science, Survey Programmer, survey develo...",Delhi NCR(Hauz Khas),Not disclosed
48,Impetus Career Consultants Private Limited,7 days ago,9-14 yrs,190618007851,Urgent Opening for Data Science for a Large MNC,https://www.naukri.com/job-listings-Urgent-Ope...,"cloudera, hive, hbase, big data, data science,...",Pune,Not disclosed
49,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed

In [30]:
df = df[['Job_url','Job_id','Job_title','Company','Key_skill','Location','Salary','Date']]
df

,Job_url,Job_id,Job_title,Company,Key_skill,Location,Salary,Date
0,https://www.naukri.com/job-listings-Data-Scien...,070518004367,"Data Science @sapient(perm) ,",Keyassignments IT Solutions Pvt Ltd,"Python, R, Unix, Linux, SQL",Bengaluru,Not disclosed,1 day ago
1,https://www.naukri.com/job-listings-Senior-Man...,050319900979,"Senior Manager - Data Science - Gurgaon, HR","Optum, a UnitedHealth Group Company","Senior Manager - Data Science - Gurgaon, HR",Gurgaon,Not disclosed,1 day ago
2,https://www.naukri.com/job-listings-Data-Scien...,050319008025,Data Science Business Manager,vConstruct Private Limited,"Data Mining, Data Analysis, Data Science, Pric...",Pune(Hadapsar),Not disclosed,1 day ago
3,https://www.naukri.com/job-listings-Data-Scien...,010319901757,Data Science (jupyter/azure Ml/matlab),Accenture,"Python, Data modeling, MATLAB, SPSS, Computer ...",Bengaluru,Not disclosed,1 day ago
4,https://www.naukri.com/job-listings-Team-Lead-...,040319900570,Team Lead - Data Science,Shell India Markets Private Limited,"Factor Analysis, Deep Learning, Neural Network...",Chennai,Not disclosed,2 days ago
5,https://www.naukri.com/job-listings-Data-Scien...,190219004818,Data Science/spark Professional,Cognizant Technology Solutions India Ltd,"Data Science / Spark, Azure ML, R, Python, Mac...","Chennai, Hyderabad",Not disclosed,15 days ago
6,https://www.naukri.com/job-listings-Data-Scien...,050319005958,Data Science Trainer,WebTek Labs Pvt. Ltd.,"presentable, data science, communication skill...",Delhi NCR(Rajouri garden),"2,00,000 - 3,50,000 P.A.",1 day ago
7,https://www.naukri.com/job-listings-Data-Scien...,220219901505,Data Science (jupyter/azure Ml/matlab),Accenture,"MATLAB, Analytical, Python, Data mining, Analy...",Bengaluru,Not disclosed,12 days ago
8,https://www.naukri.com/job-listings-Opening-fo...,120219009028,Opening for Data Science With the Leadng Produ...,Avyayh,"data science, spark, python, postgresql",Chennai,"10,00,000 - 18,00,000 P.A.",2 days ago
9,https://www.naukri.com/job-listings-Data-Scien...,220219901499,Data Science (jupyter/azure Ml/matlab),Accenture,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,12 days ago
10,https://www.naukri.com/job-listings-Senior-Ana...,050319005681,Senior Analyst - Data Science - Iit/nit/iim/xl...,HuQuo Consulting Pvt. Ltd.,"Analyst - Data Science, Python, SQL, R, machin...",Gurgaon,Not disclosed,1 day ago
11,https://www.naukri.com/job-listings-Vice-Presi...,030319000605,Vice President- Data Science,Value C Consulting Services Private Limited,Data Scientist,"Singapore, United Kingdom (U.K)","50,00,000 - 1 Cr & above P.A.",3 days ago
12,https://www.naukri.com/job-listings-Business-A...,010319902764,Business Analyst - Data Science - Iit/bits/nsit,Impendi Analytics,"statistical modeling, predictive modeling, r, ...",Delhi,Not disclosed,1 day ago
13,https://www.naukri.com/job-listings-Manager-Da...,020319002201,Manager- Data Science Machine Learning Enginee...,Crescendo Global Services,"Natural Language Processing, Data Science, Mac...",Delhi NCR,"18,00,000 - 25,00,000 P.A.",1 day ago
14,https://www.naukri.com/job-listings-Consultant...,270219904507,Consultant - Data Science,Allstate Solutions Private Limited,"hadoop, hive, deep learning, r, text mining, m...",Bengaluru,Not disclosed,6 days ago
15,https://www.naukri.com/job-listings-Product-An...,260219009302,Product Analyst (data Science),Amazon Development Centre (India) Pvt. Ltd.,"data science, business analysis, sql, Analytic...",Chennai,"12,00,000 - 22,00,000 P.A.",5 days ago
16,https://www.naukri.com/job-listings-Data-Scien...,220219901498,Data Science (jupyter/azure Ml/matlab),Accenture,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,12 days ago
17,https://www.naukri.com/job-listings-Senior-Ana...,280219901770,Senior Analyst - Data Science,Tiger Analytics,"C, Data Science, Machine Learning, R, Python, ...",Chennai,Not disclosed,6 days ago
18,https://www.naukri.com/job-listings-Data-Scien...,250219001537,"Data Scientist, Data Science Trainer for Weeke...",QuickXpert Infotech,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,4 days ago
19,https://www.naukri.com/job-listings-Data-Scien...,200219900928,Data Science (jupyter/azure Ml/matlab),Accenture,"Python, MATLAB, Data mining, Machine learning,...",Bengaluru,Not disclosed,13 days ago
20,https://www.naukri.com/job-listings-Data-Scien...,220219005029,Data Scientist/data Science Trainer,Emerging India,"deep learning, r, nosql, data science, nlp, sq...","Delhi NCR, Noida","6,00,000 - 10,00,000 P.A.",12 days ago
21,https://www.naukri.com/job-listings-Lead-Consu...,270219904505,Lead Consultant - Data Science,Allstate Solutions Private Limited,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,6 days ago
22,https://www.naukri.com/job-listings-Data-Scien...,010319003738,Data Science Engineer,Fidel Softech Pvt. Ltd,"data science, elixir, python, scala, Data Visu...",Japan,Not disclosed,5 days ago
23,https://www.naukri.com/job-listings-Data-Scien...,270219904274,Data Science Engineer - AWS Certified,Search Folks,"Spark, Hive, Oozie, Sqoop, SCALA, Big Data, El...",Bengaluru,Not disclosed,5 days ago
24,https://www.naukri.com/job-listings-Lead-Consu...,270219904504,Lead Consultant - Data Science,Allstate Solutions Private Limited,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,6 days ago
25,https://www.naukri.com/job-listings-Senior-Dat...,210219006647,Senior Data Science Engineer,Dataone,"Data Science, Machine Learning, Open Source",Ahmedabad,Not disclosed,13 days ago
26,https://www.naukri.com/job-listings-Data-Scien...,260219006665,Data Science/spark Developer - Machine Learnin...,Cognizant,"Data Science, Machine Learning, Python, R, Spa...","Hyderabad, Chennai",Not disclosed,5 days ago
27,https://www.naukri.com/job-listings-Asic-soc-V...,270219000191,"Asic/soc Verification Experts in Ie&s,.net/ang...",rp consultant,".net, java, cloud, devops, hadoop, asic / soc ...","Bengaluru, Chennai, Hyderabad","12,00,000 - 22,00,000 P.A.",7 days ago
28,https://www.naukri.com/job-listings-Chief-Inte...,270219002811,Chief Intelligence Officer - Data Science & An...,TalPro,"Machine Learning, Web Technologies, Chief Inte...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,7 days ago
29,https://www.naukri.com/job-listings-Data-Scien...,270219004361,Data Science Manager || Ziploan,Blue Jay Finlease Limited,"Data Science, Machine Learning, Python, R, SQL...",Delhi NCR,"20,00,000 - 35,00,000 P.A.",5 days ago
30,https://www.naukri.com/job-listings-Associate-...,250219002649,Associate Data Science Consultant,AXA Business Services Pvt Ltd,"Text Mining, Data Science, Java, Machine Learn...",Bengaluru,Not disclosed,9 days ago
31,https://www.naukri.com/job-listings-Sr-Manager...,010319903158,Sr. Manager Data Science,Crosstab IT Consulting,"ML, AI, Python, R, Data Science, AI / ML Resea...",Bengaluru,Not disclosed,1 day ago
32,https://www.naukri.com/job-listings-Data-Scien...,020319001085,Data Science Developer - Analytics/alteryx,TalentStack/ The Hiring Story,"sql database, r, analytics, macros, time serie...",Mumbai,Not disclosed,1 day ago
33,https://www.naukri.com/job-listings-Business-A...,040319500081,Business Analyst/ Asst. Manager - Global Comme...,American Express Company,"Unix, Monitoring, Python, Analytics, Machine l...",Gurgaon,Not disclosed,2 days ago
34,https://www.naukri.com/job-listings-Lead-Data-...,210219007404,Lead - Data Science,Asterion Consulting Pvt. Ltd,"deep learning, text mining, data science, hive...",Bengaluru,Not disclosed,1 day ago
35,https://www.naukri.com/job-listings-Chief-Inte...,270219001836,Chief Intelligence Officer - Data Science & An...,TalPro,"Machine Learning, Chief Intelligence Officer, ...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,7 days ago
36,https://www.naukri.com/job-listings-Immediatel...,010319003178,Immediately Need Data Science Instructor,Atria Biosciences,"Data Science, Big Data, big analysis, R Progra...","Mumbai, Bengaluru, Chennai, Hyderabad, Pune, K...","3,00,000 - 4,75,000 P.A.",5 days ago
37,https://www.naukri.com/job-listings-Senior-Spe...,040319501012,Senior Specialist Data Science,Jardine Lloyd Thompson India Pvt Ltd.,"Sql, Macros, Analytical, Automation, Open Sour...",Mumbai,Not disclosed,2 days ago
38,https://www.naukri.com/job-listings-Analyst-Da...,280219901594,Analyst - Data Science - Consulting Firm,Huquo Consulting Pvt. Ltd,"Machine Learning, Neural Networks, Data Scienc...",Gurgaon,Not disclosed,6 days ago
39,https://www.naukri.com/job-listings-Opening-fo...,280119001294,Job Opening for Data Science,DIGIFOCAL IT SOLUTIONS PRIVATE LIMITED,"sas, r, python, analytics, machine learning, p...",Mumbai,"5,00,000 - 10,00,000 P.A.",5 days ago
40,https://www.naukri.com/job-listings-Business-A...,040319500094,Business Analyst/ Asst. Manager - Global Comme...,American Express Services India Pvt. Ltd.,"Unix, Monitoring, Python, Analytics, Machine l...",Gurgaon,Not disclosed,2 days ago
41,https://www.naukri.com/job-listings-Senior-Con...,250219002257,Senior Consultant (machine Learning & Data Sci...,Asterion Consulting Pvt. Ltd,"Data Science, Machine Learning, Project Planni...",Bengaluru,Not disclosed,1 day ago
42,https://www.naukri.com/job-listings-Senior-Cus...,210219900633,Senior Customer Success Specialist - Data Scie...,CareerNet,"Data Science, Selenium Webdriver, Machine Lear...",Bengaluru,Not disclosed,13 days ago
43,https://www.naukri.com/job-listings-Data-Scien...,280119006091,Data Science Trainer,Naresh I Technologies,"Data Science, Machine Learning, Big Data, R pr...",Hyderabad,Not disclosed,4 days ago
44,https://www.naukri.com/job-listings-Senior-Ope...,270219005491,Senior Operations Research / Data Science,Sabre Travel Technologies Pvt. Ltd,"c, c++, java, python, data science, microservi...",Bengaluru,"17,00,000 - 25,00,000 P.A.",5 days ago
45,https://www.naukri.com/job-listings-AVP-Data-S...,220219008815,AVP - Data Science,Asterion Consulting Pvt. Ltd,"data science, Machine learning, python, Deep L...",Bengaluru,Not disclosed,1 day ago
46,https://www.naukri.com/job-listings-Deputy-Man...,020319002371,Deputy Manager- (2-4 yrs )- Python/data Science,Crescendo Global Services,Python,Gurgaon,"9,00,000 - 12,00,000 P.A.",1 day ago
47,https://www.naukri.com/job-listings-Senior-Exe...,280219006986,Senior Executive Data Science,Karvy Insights Limited,"Data Science, Survey Programmer, survey develo...",Delhi NCR(Hauz Khas),Not disclosed,6 days ago
48,https://www.naukri.com/job-listings-Urgent-Ope...,190618007851,Urgent Opening for Data Science for a Large MNC,Impetus Career Consultants Private Limited,"cloudera, hive, hbase, big data, data science,...",Pune,Not disclosed,7 days ago
49,https://www.naukri.com/job-listings-Data-Scien...,250219001548,"Data Scientist, Data Science Trainer for Weeke...",QuickXpert Infotech,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,4 days ago

In [31]:
df.to_csv('jobs_datascience.csv', index=False)

In [62]:
def get_attribute(parent, selector, attribute):
    if attribute == 'text':
        val = parent.find_element_by_css_selector(selector).text
    else:
        val = parent.find_element_by_css_selector(selector).get_attribute(attribute)
    return val

for job in parents:
    job_dict = {
               'id':job.get_attribute('id'), 
                'url':job.get_attribute('data-url'), 
                'title':get_attribute(job, 'li.desig','title'),
                'company':get_attribute(job, 'span.org', 'text'),
                'experience':get_attribute(job, 'span.exp', 'text'),
                'location':get_attribute(job, 'span.loc', 'text'),
                'skills':get_attribute(job, 'span.skill', 'text'), 
                'salary':get_attribute(job, 'span.salary', 'text'), 
                'date':get_attribute(job, 'span.date', 'text')
        }
        
    jobs_df = jobs_df.append(job_dict, ignore_index=True)
jobs_df

,Company,Date,Experience,Job_id,Job_title,Job_url,Key_skill,Location,Salary,company,date,experience,id,location,salary,skills,title,url
0,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nastech Consulting,30+ days ago,5-7 yrs,180119900781,Bengaluru,Not disclosed,"R, Data Science, Machine Learning, SAS, Statis...",Data Scientist/ Consultant - Machine Learning/...,https://www.naukri.com/job-listings-Data-Scien...
521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Huquo Consulting Pvt. Ltd,30+ days ago,2-5 yrs,180119900381,Bengaluru,Not disclosed,"machine learning, data science, data mining, s...",Senior Consultant/consultant/assistant Manager...,https://www.naukri.com/job-listings-Senior-Con...
522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cunesoft,30+ days ago,3-4 yrs,180119900148,Bengaluru,Not disclosed,"Deep Learning, Natural Language Processing, Al...",Data Scientist - Hadoop/ Spark,https://www.naukri.com/job-listings-Data-Scien...
523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Squareroot Consulting,30+ days ago,4-9 yrs,180119002670,Bengaluru,Not disclosed,"MongoDB, NoSQL, Cassandra, Data Science, Angul...",Front End/ui Engineer - AngularJS,https://www.naukri.com/job-listings-Front-End-...
524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Confidential,30+ days ago,2-5 yrs,170119900163,Bengaluru,Not disclosed,"Deep Learning, R, Predictive Modeling, Machine...",Data Scientist - R/python,https://www.naukri.com/job-listings-Data-Scien...
525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yottaasys-Startup,30+ days ago,5-6 yrs,170119900125,Bengaluru,Not disclosed,"Deep Learning, Machine Learning, Neural Networ...",Principal Data Scientist,https://www.naukri.com/job-listings-Principal-...
526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unifynd Technologies-Startup,30+ days ago,2-5 yrs,160119900033,Mumbai,Not disclosed,"Data Science, Quantitative Research, Business ...",Quantitative Research Analyst,https://www.naukri.com/job-listings-Quantitati...
527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Invenio Business Solutions Pvt. Ltd.,30+ days ago,3-8 yrs,160119001345,Mumbai,"7,00,000 - 17,00,000 P.A.","Deep Learning, Natural Language Processing, Ma...",Data Scientist / Senior Data Scientist,https://www.naukri.com/job-listings-Data-Scien...
528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tookitaki-Startup,30+ days ago,3-6 yrs,150119900938,Bengaluru,Not disclosed,"Data Science, R, Machine Learning, Python, Pre...",Lead Datascience,https://www.naukri.com/job-listings-Lead-Datas...
529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Startup - Auquan,30+ days ago,3-6 yrs,150119005094,Bengaluru,Not disclosed,"Text Mining, Deep Learning, Machine Learning, ...",Lead Data Scientist,https://www.naukri.com/job-listings-Lead-Data-...
530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Startup - Loyalytics Consulting,30+ days ago,2-4 yrs,150119004130,Bengaluru,Not disclosed,"R, Machine Learning, Data Science, SAS, Neural...",Data Scientist,https://www.naukri.com/job-listings-Data-Scien...
531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"PMAM IT Services Pvt Ltd. (PMAM Corp),",30+ days ago,4-7 yrs,141218009277,Mumbai,"10,00,000 - 20,00,000 P.A. As per the industry...","Deep Learning, Text Mining, NLP, Html5, Python...",Machine Learning Expert,https://www.naukri.com/job-listings-Machine-Le...
532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NIIT Technologies Ltd.,30+ days ago,3-8 yrs,140119004795,"Delhi NCR, Greater Noida",Not disclosed,"jquery, html, rest, web services, java, nlp, n...",Walk-in Interview for Artificial Intelligence ...,https://www.naukri.com/job-listings-Walk-in-In...
533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NIIT Technologies Ltd.,30+ days ago,15-25 yrs,140119004463,"Delhi NCR, Greater Noida",Not disclosed,"deep learning, machine learning, computer visi...",AI Practitioner,https://www.naukri.com/job-listings-AI-Practit...
534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NIIT Technologies Ltd.,30+ days ago,8-13 yrs,140119004348,"Delhi NCR, Greater Noida",Not disclosed,"deep learning, natural language processing, nl...",Walk-in Interviews - Artificial Intelligence/i...,https://www.naukri.com/job-listings-Walk-in-In...
535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Holiday Triangle Travel Private Limited,30+ days ago,2-5 yrs,140119003745,Gurgaon(Udyog Vihar),"15,00,000 - 20,00,000 P.A.","SQL, Data Warehousing, Business Intelligence, ...",Senior/lead Analyst || Traveltriangle,https://www.naukri.com/job-listings-Senior-lea...
536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Applied Materials India Private Limited,30+ days ago,5-10 yrs,130818005468,Bengaluru,Not disclosed,"hive, production planning, continuous improvem...",Operations Analytics Specialist Opportunity wi...,https://www.naukri.com/job-listings-Operations...
537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Catalyst,30+ days ago,3-8 yrs,121118900118,Bengaluru,Not disclosed,"Java, Hadoop, Data Science, Spark, Python, Mac...",Big Data Developer - Python/ Hadoop,https://www.naukri.com/job-listings-Big-Data-D...
538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maxonic Consulting,30+ days ago,2-5 yrs,120119900620,Noida,Not disclosed,"R, Data Science, Machine Learning, Python, Pre...",Data Scientist - Machine Learning/predictive M...,https://www.naukri.com/job-listings-Data-Scien...
539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Invecas technologies Pvt Ltd,30+ days ago,3-5 yrs,120119900510,Hyderabad,Not disclosed,"QlikView, SQL, Data Analysis, Predictive Analy...",Junior Data Scientist,https://www.naukri.com/job-listings-Junior-Dat...
540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spectrum Consulting,30+ days ago,5-10 yrs,120119900298,Chennai,Not disclosed,"Spark, Java, SCALA, Data Science, Python, Mach...",Data Engineer - ETL/ Java/ Python,https://www.naukri.com/job-listings-Data-Engin...
541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R Systems International Ltd.,28 days ago,13-18 yrs,110518004030,Noida,Not disclosed,"data analytics, predictive modeling, python, r...",Lead Data Scientist,https://www.naukri.com/job-listings-Lead-Data-...
542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chartered Club,30+ days ago,5-10 yrs,110119901225,Gurgaon,Not disclosed,"HTML, CSS, PHP, Web Development, Artificial In...",PHP - Web Developer,https://www.naukri.com/job-listings-PHP-Web-De...
543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MoneyView,30+ days ago,10-15 yrs,110119001218,Bengaluru,Not disclosed,"Data Science, Machine Learning, Python, R, Spa...",Data Scientist,https://www.naukri.com/job-listings-Data-Scien...
544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Catalyst,30+ days ago,2-7 yrs,100918900740,Bengaluru,Not disclosed,"Deep Learning, Machine Learning, Neural Networ...",Machine Learning Developer,https://www.naukri.com/job-listings-Machine-Le...
545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azilen Technologies Pvt Ltd,30+ days ago,1-4 yrs,100918007643,Ahmedabad,Not disclosed,"deep learning, linear regression, data science...",Data Scientist - Ahmedabad (immediate / Early ...,https://www.naukri.com/job-listings-Data-Scien...
546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Egnify Technologies- Startup,30+ days ago,2-5 yrs,100119901644,Hyderabad,Not disclosed,"Data Scientist, ML, Data Science, Data mining,...",Data Scientist,https://www.naukri.com/job-listings-Data-Scien...
547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cognier Insights - Startup,30+ days ago,2-5 yrs,100119901020,"Hyderabad, Bengaluru, Chennai",Not disclosed,"data science, machine learning, python, r, per...",Blockchain Developer,https://www.naukri.com/job-listings-Blockchain...
548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Solugenix India Private Limited,30+ days ago,3-5 yrs,100119005105,Hyderabad(Begumpet),Not disclosed,"Data Science, Artificial Intelligence, Data Qu...",Business Intelligence Designer,https://www.naukri.com/job-listings-Business-I...
549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wipro Limited,30+ days ago,4-8 yrs,090119901929,Chennai,Not disclosed,"R, Data Science, Machine Learning, Logistic Re...",DO&P - Data Scientist,https://www.naukri.com/job-listings-DO-P-Data-...

# Looping through multiple pages

In [75]:
def get_attribute(parents, selector, attribute):
    try:
        if attribute == 'text':
            val = parent.find_element_by_css_selector(selector).text
        else:
            val = parent.find_element_by_css_selector(selector).get_attribute(attribute)
    except:
        val = None
    return val
jobs_df = pd.DataFrame()
import time
for i in range(1, 11):
    url = 'https://www.naukri.com/data-science-jobs-%d' %(i)
    browser.get(url)
    time.sleep(2)
    print(i)
    parents = browser.find_elements_by_css_selector('div.row[type="tuple"]')
    for job in parents:
        job_dict = {
            'id':job.get_attribute('id'), 
            'url':job.get_attribute('data-url'), 
            'title':get_attribute(job, 'li.desig','title'),
            'company':get_attribute(job, 'span.org', 'text'),
            'experience':get_attribute(job, 'span.exp', 'text'),
            'location':get_attribute(job, 'span.loc', 'text'),
            'skills':get_attribute(job, 'span.skill', 'text'), 
            'salary':get_attribute(job, 'span.salary', 'text'), 
            'date':get_attribute(job, 'span.date', 'text')
                }
    
        jobs_df=jobs_df.append(job_dict, ignore_index=True)

1
2
3
4
5
6
7
8
9
10

In [60]:
jobs_df

,Company,Date,Experience,Job_id,Job_title,Job_url,Key_skill,Location,Salary
0,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
1,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
2,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
3,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
4,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
5,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
6,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
7,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
8,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
9,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
10,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
11,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
12,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
13,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
14,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
15,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
16,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
17,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
18,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
19,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
20,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
21,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
22,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
23,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
24,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
25,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
26,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
27,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
28,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
29,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
...,...,...,...,...,...,...,...,...,...
470,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
471,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
472,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
473,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
474,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
475,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
476,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
477,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
478,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
479,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
480,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
481,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
482,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
483,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
484,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
485,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
486,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
487,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
488,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
489,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
490,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
491,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
492,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
493,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
494,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
495,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
496,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
497,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
498,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed
499,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed

# Clicking button through python

In [86]:
browser.get('https://www.naukri.com/data-science-jobs')

In [88]:
#identify selector for any button
browser.find_element_by_css_selector('button.grayBtn').click()

In [89]:
browser.get('https://www.naukri.com/data-science-jobs')
jobs_df = pd.DataFrame()
while True:
    parents = browser.find_elements_by_css_selector('div.row[type="tuple"]')
    for job in parents:
        job_dict = {
            'id':job.get_attribute('id'), 
            'url':job.get_attribute('data-url'), 
            'title':get_attribute(job, 'li.desig','title'),
            'company':get_attribute(job, 'span.org', 'text'),
            'experience':get_attribute(job, 'span.exp', 'text'),
            'location':get_attribute(job, 'span.loc', 'text'),
            'skills':get_attribute(job, 'span.skill', 'text'), 
            'salary':get_attribute(job, 'span.salary', 'text'), 
            'date':get_attribute(job, 'span.date', 'text')
                }
    
        jobs_df=jobs_df.append(curr_row, ignore_index=True)
    print(jobs_df.shape)
    try:
        button = browser.find_elements_by_css_selector('button.grayBtn')[-1]
        if button.text == 'Next':
            button.click()
        else:
            break
        time.sleep(2)
    except:
        break
jobs_df.shape

(50, 9)
(100, 9)
(149, 9)
(199, 9)
(249, 9)
(299, 9)
(349, 9)
(399, 9)
(449, 9)
(499, 9)
(549, 9)
(599, 9)
(649, 9)
(699, 9)
(749, 9)
(799, 9)
(848, 9)
(898, 9)
(946, 9)
(996, 9)
(1046, 9)
(1095, 9)
(1145, 9)
(1195, 9)
(1245, 9)
(1295, 9)
(1345, 9)
(1395, 9)
(1445, 9)
(1495, 9)
(1545, 9)
(1595, 9)
(1645, 9)
(1695, 9)
(1745, 9)
(1795, 9)
(1845, 9)
(1895, 9)
(1945, 9)
(1995, 9)
(2045, 9)
(2095, 9)
(2145, 9)
(2195, 9)
(2245, 9)
(2295, 9)
(2345, 9)
(2395, 9)
(2445, 9)
(2495, 9)
(2545, 9)
(2595, 9)
(2645, 9)
(2695, 9)
(2745, 9)
(2795, 9)
(2845, 9)
(2895, 9)
(2944, 9)
(2992, 9)
(3040, 9)
(3078, 9)
(3128, 9)
(3178, 9)
(3228, 9)
(3278, 9)
(3328, 9)
(3378, 9)
(3428, 9)
(3478, 9)
(3528, 9)
(3578, 9)
(3628, 9)
(3678, 9)
(3728, 9)
(3778, 9)
(3828, 9)
(3878, 9)
(3878, 9)

(3878, 9)

In [91]:
jobs_df['id'].nunique()

KeyError: 'id'

In [90]:
jobs_df.to_csv('naukri_jobs.csv', index=False)